// rename the file to env.js

const env = {};

env.runtime = {
	node: (typeof process === 'object' && typeof require === 'function'),
	service: (typeof importScripts === 'function'),
	browser: (typeof window === 'object'),
};

env.hostAddress = 'http://localhost';
env.remoteWebHooksAddress = 'https://HOSTING_URL';
env.httpPort = 5001;
env.mongoDbPassword = 'PASSWORD';
env.databaseName = 'DB_NAME';
env.mongoDbConnectionString = `MONGO_CONNECTION_STRING`;
env.firebaseMessageEndpoint = 'https://fcm.googleapis.com/fcm/send';
env.firebaseMessagePrivateKey = 'PRIVATE_KEY';

env.googleCalendarPushNotificationsEmail = "ADMIN_EMAIL@GMAIL.COM";
env.googleCalendarPushNotificationsWatchUrl = "https://www.googleapis.com/calendar/v3/calendars/" + env.googleCalendarPushNotificationsEmail + "/events/watch";

env.googleAcctClientID = "CLIENT_ID";
env.googleAcctClientSecret = "CLIENT_SECRET";
env.googleAcctApiKey = "API_KEY";


env.googleCalendar = {
	clientId: 'CLIENT_ID',
	clientSecret: 'CLIENT_SECRET',
	calendarId: 'ADMIN_EMAIL@GMAIL.COM',
	productionCredentials: {
		"installed": {
			"client_id": "CLIENT_ID",
			"project_id": "PROJECT_ID",
			"auth_uri": "https://accounts.google.com/o/oauth2/auth",
			"token_uri": "https://oauth2.googleapis.com/token",
			"auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
			"client_secret": "CLIENT_SECRET",
			"redirect_uris":[
				"https://HOSTING_URL/calendar/token/set",
				"http://localhost:5001"
			]
		}
	},
	localCredentials: {
		"installed": {
			"client_id": "CLIENT_ID",
			"project_id": "PROJECT_ID",
			"auth_uri": "https://accounts.google.com/o/oauth2/auth",
			"token_uri": "https://oauth2.googleapis.com/token",
			"auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
			"client_secret": "CLIENT_SECRET",
			"redirect_uris":[
				"http://localhost:5001/calendar/token/set",
				"http://localhost:5001"
			]
		}
	},
};

env.googleCalendar.getCredentials = function () {
	const runningRemotely = process.env.GCLOUD_PROJECT;
	return runningRemotely ? this.productionCredentials : this.localCredentials;
};

module.exports = env;
