<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; CCSU -- Team Stepping on Legos, 2021</div>
    <small class="text-dark"><%= moment().local().format() %></small>
</footer>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>