<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Voluntary Spam | Connect Calendar</title>

        <%- include('../partials/head') -%>

    </head>

    <body id="page-top">
        <!-- Navigation-->
        <%- include('../partials/nav') -%>

        <!-- Content-->
        <section class="content-section text-center" id="content">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Connect Calendar</h2>
                        <div class="text-warning">Voluntary Spam App is currently not connected to a host calendar</div>
                    </div>
                </div>

                <a class="btn btn-primary btn-lg w-100 my-5" href="/calendar/link">Connect Calendar</a>
            </div>
        </section>

        <!-- Footer-->
        <%- include('../partials/footer') -%>

    </body>
</html>

